body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
 
  /* styling the whole container start */
  .rating-container {
    text-align: center;
    max-width: 700px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-left: 40px;
    background-color: #1e1e1e;
    border-radius: 5px;
  }
   /* styling the whole container ends */

  /* styling user information start */
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  .name{
    font-size: 12px;
    color: #b3b3b3;
  }
   /* styling user information end */

   /* styling user img */
  
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
   /* styling user img */
  
   /* styling the rating message */
  .rating-message {
    font-size: 14px;
    margin-bottom: 20px;
    color: #b3b3b3;
  }
   /* styling the rating message */
  
   /* styling the star div */
  .stars {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
  }
  /* styling the star div */

  /* styling individual stars start  */
  .star {
    font-size: 60px;
    cursor: pointer;
    color: #666;
    transition: transform 0.2s, color 0.2s;
  }
  
  .star:hover,
  .star.selected {
    color: lightskyblue;
  }
  /* styling individual stars end */
  
  /* styling the text area start */
  .feedback {
    width: 80%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
    resize: none;
  }
  
  .feedback:focus {
    outline: 2px solid lightskyblue;
  }
  .feedback::placeholder{
    text-align: center;
  }
   /* styling the text area ends */
  
   /* styling the Button start */
  .submit-btn {
    background-color:  #2a2a2a;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color:  lightskyblue;
  }
  /* styling the Button end */
  
  /* styling conformation message */
  .confirmation-message {
    margin-top: 15px;
    font-size: 14px;
    color: #4caf50;
  }
  /* styling conformation message */

  /* Responsiveness */

/* large screen */
@media(min-width:992px){
    
    .rating-container {
        text-align: center;
        max-width: 700px;
        padding-bottom: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-left: 40px;
        background-color: #1e1e1e;
        border-radius: 5px;
      }
  }
  /* medium screen */
  @media screen and (min-width :768px) and (max-width:991px){
    .rating-container {
        text-align: center;
        max-width: 700px;
        margin-bottom: 30%;
        padding-bottom: 40px;
        padding-right: 20px;
        padding-top: 40px;
        padding-left: 20px;
        background-color: #1e1e1e;
        border-radius: 5px;
      }
      .profile-pic {
        width: 30px;
        height: 30px;
        border-radius: 70%;
      }
      
  }
  /* small screen */
  @media screen  and (min-width :576px) and (max-width:767px){
    .rating-container {
        text-align: center;
        max-width: 500px;
        margin-bottom: 50%;
        padding-bottom: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-left: 40px;
        background-color: #1e1e1e;
        border-radius: 5px;
      }
      .feedback::placeholder{
        text-align: center;
      }
      .star {
        font-size: 40px;
        cursor: pointer;
        color: #666;
        transition: transform 0.2s, color 0.2s;
      }
      .profile-pic {
        width: 30px;
        height: 30px;
        border-radius: 70%;
      }
     
  }
  /* x-small screen */
  @media(max-width:575px){

    .rating-container {
        text-align: center;
        max-width: 400px;
        margin-bottom: 50%;
        padding-bottom: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-left: 40px;
        background-color: #1e1e1e;
        border-radius: 5px;
      }
      .feedback::placeholder{
        text-align: center;
      }
      .star {
        font-size: 40px;
        cursor: pointer;
        color: #666;
        transition: transform 0.2s, color 0.2s;
      }
     
      .rating-message {
        font-size: 7px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        color: #b3b3b3;
      }

      .profile-pic {
        width: 30px;
        height: 30px;
        border-radius: 70%;
      }
      .name{
        font-size: 6px;
      }
  }
  